In [2]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', 500)

# Feature Selection and Engineering

Today we will learn more about the tools for transforming variables in our dataset. When using simple models, such as Linear Regressions, we must invest a lot of time considering the **morphological** shape of relations in our data: not all of them are linear!

Furthermore, models are sensitive to **collinearity** between features: the more correlated two input features are, the more they can damage our estimated models.

Even when using advanced ML Algorithms, variable transformations can ensure better model performance.

In [3]:
url = 'https://raw.githubusercontent.com/pedroteche-ih/DAFT_MEX_202209/main/data/tb_insurance.csv'
tb_insurance = pd.read_csv(url)

In [4]:
tb_insurance.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

# Feature Creation

One of the key ideas behind feature engineering is creating new variables by combining and transforming our existing variables.

## Numerical Transformation

In [ ]:
from sklearn.preprocessing import PowerTransformer, QuantileTransformer

## Categorical Transformation

In [ ]:
from pandas import qcut, cut

## Target Variable Transformation

# Feature Combination

## Interaction between Categorical and Continous Variables

## Interaction between Continous Variables

## Interaction between Categorical Variables

# Feature Selection

## Manual Selection

## Dimensionality Reduction

In [ ]:
from sklearn.decomposition import PCA, NMF

## RFE & Lasso Regression

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LassoCV