In [1]:
import numpy as np
import scipy as sp
import pandas as pd

# Classification Models

In [2]:
url = 'https://raw.githubusercontent.com/pedroteche-ih/DAFT_MEX_202209/main/data/tb_hotel_traintest.csv'
tb_hotel = pd.read_csv(url)

In [3]:
tb_hotel.head()

,hotel,is_cancelled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,arrival_date,id_booking
0,Resort Hotel,0,342,0,0,2,0.0,0,BB,PRT,...,NaN,NaN,0,Transient,0.0,0,0,2015-07-01,2015-07-01,0
1,Resort Hotel,0,737,0,0,2,0.0,0,BB,PRT,...,NaN,NaN,0,Transient,0.0,0,0,2015-07-01,2015-07-01,1
2,Resort Hotel,0,7,0,1,1,0.0,0,BB,GBR,...,NaN,NaN,0,Transient,75.0,0,0,2015-07-02,2015-07-01,2
3,Resort Hotel,0,13,0,1,1,0.0,0,BB,GBR,...,304.0,NaN,0,Transient,75.0,0,0,2015-07-02,2015-07-01,3
4,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,240.0,NaN,0,Transient,98.0,0,1,2015-07-03,2015-07-01,4

In [4]:
# Cleaning Lead Time outliers
q25 = np.quantile(tb_hotel['lead_time'], 0.25)
q75 = np.quantile(tb_hotel['lead_time'], 0.75)
IQR = q75 - q25
mask = (tb_hotel['lead_time'] > (q75 + 3 * IQR)) | (tb_hotel['lead_time'] < (q25 - 3 * IQR))
tb_hotel = tb_hotel[~mask]

In [5]:
# Cleaning NAs
tb_hotel['children'] = tb_hotel['children'].fillna(0)
tb_hotel['is_company'] = np.where(tb_hotel['company'].isna(), 0, 1)
tb_hotel['is_agent'] = np.where(tb_hotel['agent'].isna(), 0, 1)
tb_hotel = tb_hotel.drop(['company', 'agent'], axis = 1).dropna()

In [ ]:
tb_hotel.info()

# Estimating Probabilities

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

## Using Categorical Features

# Thresholding - Probability to Prediction

## ROC Curve

In [ ]:
from sklearn.metrics import roc_curve

# Measuring Error